
@using Sarih_Law.Models
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}


<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BASLİK</th>
        <th>SİL</th>
        <th>GUNCELLE</th>
        <th>DETAYLAR</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td><a href="/Adminler/BlogSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Adminler/BlogGetir/@x.ID" class="btn btn-warning">Guncelle</a></td>
            <td><a href="#" class="btn btn-default">Detaylar</a></td>

        </tr>
    }
</table>
<a href="/Adminler/YeniBlog/" class="btn btn-primary">Yeni Blog</a>