@model Sarih_Law.Models.BlogYorum
@{ Layout = "/Views/Shared/AsilLayout.cshtml"; }
<!-- Blog Start -->
<div class="blog">

    <div class="container">
        <div class="section-header">
            <h2>Latest From Blog</h2>
        </div>

        <div class="owl-carousel blog-carousel">
            @foreach (var x in Model.Deger1)
            {

<div class="blog-item">

    <img src="~/img/seba.jpg" alt="Blog">
    <h3>@x.Baslik</h3>
    <div class="meta">
        <i class="fa fa-list-alt"></i>
        <p>@x.Alan.AlanAdi</p>
        @* <a href="">Civil Law</a>*@

        <i class="fa fa-calendar-alt"></i>
        <p>@x.Tarih.ToString("dd.MM.yyyy")</p>
    </div>
    <p>

        @{string metin = System.Text.RegularExpressions.Regex.Replace(x.Aciklama, @"<(.|\n)*?>", string.Empty); }

        @Html.Raw(metin.Substring(0, 61))
    </p>
    <a class="btn" href="/Bloglar/BlogDetay/@x.ID">Read More <i class="fa fa-angle-right"></i></a>
    
</div>
            }
        </div>
            

    </div>

</div>

<!-- Blog End -->
