@{ Layout = "/Views/Shared/AsilLayout.cshtml"; }



<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
    <div class="containerr">
        <div class="flex-containerr">
            @* <img src="~/img/team-2.jpg" alt="Image" class="image" />*@
            <div class="team-img">
            <img src="~/img/team-2.jpg" alt="Team Image">
        </div>
            
            Av.Metehan Baskicioglu
        </div>
          
            <div class="paragraph-text">
                <h2>Text Section</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    eros ac mi bibendum auctor. Ut a lectus nec ipsum lobortis maximus vel
                    ut nisi.
                </p>
                <p>
                    Donec cursus aliquam augue, id bibendum massa mollis ut. Phasellus eu
                    augue vel justo interdum lobortis.
                </p>
                <p>
                    Etiam varius nulla ac massa auctor, sed sagittis diam commodo. Nullam
                    sollicitudin, ante quis vestibulum hendrerit, nisi eros pharetra est,
                    non hendrerit nisi magna eu mauris.
                </p>
                <p>
                    Maecenas pulvinar, erat at aliquam rutrum, est quam feugiat lectus, in
                    gravida enim ex eu dolor. Pellentesque suscipit, magna nec imperdiet
                    consequat, odio elit blandit sapien, ac fermentum lacus tellus a diam.
                </p>
                <p>
                    Maecenas pulvinar, erat at aliquam rutrum, est quam feugiat lectus, in
                    gravida enim ex eu dolor. Pellentesque suscipit, magna nec imperdiet
                    consequat, odio elit blandit sapien, ac fermentum lacus tellus a diam.
                </p>
                <p>
                    Maecenas pulvinar, erat at aliquam rutrum, est quam feugiat lectus, in
                    gravida enim ex eu dolor. Pellentesque suscipit, magna nec imperdiet
                    consequat, odio elit blandit sapien, ac fermentum lacus tellus a diam.
                </p>
                <p>
                    Maecenas pulvinar, erat at aliquam rutrum, est quam feugiat lectus, in
                    gravida enim ex eu dolor. Pellentesque suscipit, magna nec imperdiet
                    consequat, odio elit blandit sapien, ac fermentum lacus tellus a diam.
                </p>
                <p>
                    Maecenas pulvinar, erat at aliquam rutrum, est quam feugiat lectus, in
                    gravida enim ex eu dolor. Pellentesque suscipit, magna nec imperdiet
                    consequat, odio elit blandit sapien, ac fermentum lacus tellus a diam.
                </p>
            </div>
        </div>
</body>
</html>